Replace RFC 2616 references with new RFC 7231

In June the HTTP 1.1 spec RFC 2616 got replaced by a bunch of new updated revision, RFC 7230 to 7235: https://www.mnot.net/blog/2014/06/07/rfc2616_is_dead

The one related to status codes is [RFC 7231](http://tools.ietf.org/html/rfc7231#section-6) which also [references a new status code registry](http://tools.ietf.org/html/rfc7231#section-8.2) at http://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml

Currently status codes like 503, http://httpstatus.es/503, references the old RFC 2616 and even though there in most cases are no differences (the [Appendix B](http://tools.ietf.org/html/rfc7231#appendix-B) of RFC 7231 outlines which status code that has seen changes) it would be good to have the references updated so that one can know for sure that the description is an up to date one.

I'd also like to see this. Reading the new RFC cleared a lot of things up for me, as a lot of the web still references the old RFC.

A good example is the description for error 403 as described in RFC 7231 is much much more informative than it is in RFC 2616. 

I'm over a year and a half late on this... my bad. There's a new project branch which includes all the descriptions updated to the latest, the new site will be deployed in the next few days. You can see progress on the [metalsmith branch](https://github.com/citricsquid/httpstatus.es/tree/metalsmith/contents/codes) and in the #23 issue.